@import "tailwindcss";

@font-face {
  font-family: 'Helvetica Now';
  src: local('Helvetica Now'), url(/fonts/helveticaNow/HelveticaNowDisplay-Regular.ttf) format('TrueType');
}

@font-face {
  font-family: 'Helvetica Now Bold';
  src: local('Helvetica Now'), url(/fonts/helveticaNow/HelveticaNowDisplay-ExtraBold.ttf) format('TrueType');
}

@font-face {
  font-family: 'Antarctican Mono Bold';
  src: local('Antarctican Mono Bold'), url(/fonts/antarcticanMono/AntarcticanMono-Bold.ttf) format('TrueType');
}

@font-face {
  font-family: 'Antarctican Mono Book';
  src: local('Antarctican Mono Book'), url(/fonts/antarcticanMono/AntarcticanMono-Book.ttf) format('TrueType');
}

* {
  font-family: "Helvetica Now";
}

h1, h2, h2 > *, h3 {
  font-family: "Helvetica Now Bold";
}

h4 {
  font-family: 'Antarctican Mono Book';
}

body {
  background-color: #000;
}

#root {
  background-color: #000;
  color: #fff;
  max-width: 1280px;
  min-width: 400px;
  margin: 0;
  height: 100vh;
}

section {
  width: 100vw;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
}

p.stackName, .monoBold {
  font-family: "Antarctican Mono Bold";
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}